## Ignorar todo por defecto
*

## Excepciones: permitir src y bin
!src/
!pom.xml
!SQL/
!recursos/
!html/
!javascript/
!.getignore

## Ignorar todo dentro de src y bin, excepto sus contenidos
src/*
!src/**
SQL/*
!SQL/**
recursos/*
!recursos/**
html/*
!html/**
javascript/*
!javascript/**
.getignore
!.getignore
